html, body {
    margin: 0;
    background: #0099ff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main {
    width: 60%;
    background: rgb(252, 252, 235);
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    margin-top: 5vh;
    border-radius: 2% 2% 2% 2%;
    box-shadow: 5px 5px 10px black;
}

#recipe-content {
    min-height: 0;
    flex-grow: 1;
    padding-left: 2%;
    padding-right: 2%;
    background: rgb(252, 252, 235);
    border-radius: 2% 2% 2% 2%;
    h1, h2, h3 {
        text-align: center;
    }
}

#menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
}

#back {
    width: 65px;
    height: 65px;
    cursor: pointer;
}

#unitswitch {
    --switch-width: 250px;
    position: relative;
    display: grid;
    grid-template-columns: 100px 100px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    outline: 1px solid black;
    width: var(--switch-width);
    justify-content: space-between;

    .unitswitch {
    cursor: pointer;
    display: grid;
    place-content: center;
    text-align: center;
    height: 30px;
    outline: 1px solid black;
    mix-blend-mode: difference;
    color: white;
    z-index: 100;
    font-size: 12px;
    }

    .unitswitch:hover {
        font-weight: bold;
    }

    #unitswitch-metric {
    }

    #unitswitch-imperial {
    }

    #unitswitch-color {
        background: black;
        position: absolute;
        left: calc(var(--switch-width) - 100px);
        transition: left 0.3s cubic-bezier(0.42, 0, 0.58, 1.0);
        top: 0%;
        width: 100px;
        height: 50px;
    }
}



#recipe-top-bar {
    display: grid;
    place-content: center;
    padding: 2%;
}

#recipe-picture {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.recipe-sub-header {
    display: block;
    margin-top: 10px;
    margin-bottom: 3px;
    font-weight: strong;
    font-size: 16px;

}