html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}   

html, body {
    margin: 0;
    background: #0099ff;
}

h1 {
    text-align: center;
}

#menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.portrait {
    outline: 2px solid black;
    width: 500px;
    float: right;
    margin: 10px;
}

#frame {
    box-sizing: border-box;
    background: rgb(252, 252, 235);
    min-height: 95vh;
    margin-top: 2.5vh;
    margin-bottom: 5vh;
    border-radius: 2%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px black;
    padding: 3%;

}

.button {
    width: 65px;
    height: 65px;
}

#authors-recipes-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    column-gap: 5%;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: start;
}

.recipe-card {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    text-align: center;
    vertical-align: text-bottom;
    font-size: 25px;
    font-weight: bold;
    color: black;
    cursor: pointer;

    #thumbnail {
    height: 150px;
    width: 250px;
    outline: 1px solid black;
    object-fit: fill;
    }
}

.recipe-text-container {
    display: grid;
    width: 250px;
    height: 75px;
    place-items: center;
}